*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.0rem;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pointer{
    cursor: pointer;
}
body{
    color: #fff;
    background-color: #008170;
}
h1{
    background-color: #0F0F0F;
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 8vh;
}
main{
    flex-direction: column;
    height: 92vh;
    width: 100vw;
}
.main-box1{
    background-color: #ff8c00;
    height: 10vh;
    width: 40%;
    gap: 1rem;
    justify-content: end;
    padding: 0 30px;
    border-radius: 5px 5px 0 0 ;
    box-shadow: 
      10px -10px 10px rgba(0, 0, 0, 0.15),
      -10px -10px 10px rgba(0, 0, 0, 0.15);
}
.main-box2{
    background-color: #ff8c00;
    height: 30vh;
    width: 40%;
    box-shadow: 
      10px 10px 10px rgba(0, 0, 0, 0.15), 
      -10px 10px 10px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 0 5px 5px ;
}
.focusTimer, .breakTimer{
    font-size: 4rem;
}

.btn{
    width: 50%;
    justify-content: space-around;
}
button{
    background-color: #0F0F0F;
    color: white;
    height: 2rem;
    width: fit-content;
    border: none;
    padding: 0 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #0F0F0F;
}
button:active{
    background-color: #1f1f1f;
}
.hide{
    display: none;
}

@media (max-width: 1250px) {
  .main-box1 {
    width: 60%;
  }
  .main-box2 {
    width: 60%;
  }
}
@media (max-width: 900px) {
  .main-box1 {
    width: 70%;
  }
  .main-box2 {
    height: 25vh;
    width: 70%;
  }
}
@media (max-width: 700px) {
  .main-box1 {
    width: 80%;
  }
  .main-box2 {
    width: 80%;
  }
  .btn {
    width: 65%;
  }
}
@media (max-width: 500px) {
    .main-box1 {
        width: 90%;
      }
      .main-box2 {
        height: 20vh;
        width: 90%;
      }
      .btn {
        width: 75%;
      }
  .focusTimer,
  .breakTimer {
    font-size: 3.5rem;
  }
}
@media (max-width: 400px) {
    .main-box1 {
        width: 95%;
      }
      .main-box2 {
        width: 95%;
      }
      .btn {
        width: 85%;
      }
  .focusTimer,
  .breakTimer {
    font-size: 3rem;
  }
}
@media (max-width: 300px) {
    .main-box1 {
        width: 98%;
      }
      .main-box2 {
        width: 98%;
      }
      .btn {
        width: 95%;
      }
  .focusTimer,
  .breakTimer {
    font-size: 2.7rem;
  }
}
